# Visual Studio
# =========
*.suo
*.ntvs*
*.njsproj
*.sln
.vscode

# General
# =======
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.tmp
*.bak
*.swp
logs/
build/
*.lcov
dump.rdb

# Node and related ecosystem
# ==========================
.nodemonignore

node_modules/

package-lock.json
